* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 980px;
    padding: 0 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .83rem;
}

h6 {
    font-size: .67rem;
}

.d-flex {
    display: flex;
}

.section {
    padding: 2rem 0;
}

a {
    text-decoration: unset;
}

/* css nav */

nav {
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
}

.row-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right ul {
    list-style: none;
}

.nav-right ul a {
    padding: 0.5rem 1rem;
    color: white;
}

.nav-right ul .button a {
    color: black;
    padding: 0.5rem;
    border: none;
    border-radius: 16px;
    background-color: white;
}

/* main css */
main {
    margin-top: 65px;
}

/* sezione bianca riquadri azzurri */

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.col {
    flex-grow: 1;
}

.col-1 {
    flex-basis: calc((100%/3) - 1rem);
}

.col-2 {
    flex-basis: calc(((100%/3) * 2) - 0.5rem);
}

.col-3 {
    flex-basis: 100%;
}

.section.first .row .card {
    min-height: 200px;
    background-color: #b5ddff;
    border-radius: 20px;
}

.first .card {
    padding: 0 1.5rem;
}

.first .card h3 {
    color: #0084fd;
    padding: 1rem 0;
}

.first .card p{
    padding: .5rem 0;
}

.first .card .button {
    padding: .5rem 0;
}

.first .card .button button {
    border: transparent;
    background-color: #0084fd;
    padding: 0.5rem;
    border-radius: 16px;
}

.first .card .button button a {
    color: white;
}

.phone {
    position: relative;
    overflow: hidden;
}

.phone img {
    width: 100%;
    position: relative;
    top: 50px;
}

.card.sm h3 {
    padding: .5rem;
}

.card.sm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card.sm * {
    padding: .5rem;
    text-align: center;
}

.card.sm i {
    font-size: 3rem;
    color: #0084fd;
}



/* strategy section */

.strategy {
    background-color: #9792e4;
}

.strategy .container {
    padding: 0 2rem;
}

/* Testimonials */

.intro-testimonial {
    text-align: center;
}

.intro-testimonial * {
    padding: 1rem;
}

.intro-testimonial h1 {
    color: #9792e4;
}

.intro-testimonial h4 {
    text-transform: uppercase;
    font-weight: 100;
}

.row-clmn {
    display: flex;
    flex-direction: column;
}


.img-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d-flex.test-prop {
    align-items: center;
    gap: 2rem;
}

.card.d-flex.test-prop {
    background-color: #9792e4;
    border-radius: 20px;
}

@media screen and max-width: 992px {
    
}

@media screen and max-width: 768px {
    
}

@media screen and max-width: 576px {
    
}